*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #515151;
    font-family: "Montserrat",sans-serif;
}


a{
    margin-right: 35px;
    font-weight: 600;
    font-size: 30px;
}

header{
    margin-left: 100px;
    margin-top: 20px;
}

button{
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 130px;
    height: 41px;
    border-radius: 50px;
    background-color: #665AE1;
    color: black;
    border: none;
    box-shadow: 2px 5px 10px #665AE1;
    cursor: pointer;
}

button:active{
    opacity: 0.8;
}

.secthion{
    display:flex;
    
}

img{
    
    width: 568px;
    height: 500px;
    margin-top: 170px;
    margin-left: 100px;
}

.div-2{
    height: 50px;
    margin: 200px 0 0 40px;
}

h1{
    width: 513px;
    height: 122px;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: 0%;
    
}

h3{
    width: 448px;
    height: 71px;
    font-weight: 500;
    font-size: 58px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 40px;
}

p{
    width: 515px;
    height: 87px;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 40px;
}

.button-2{
    width: 239px;
    height: 64px;
    border-radius: 50px;
    background-color: #ADFF00;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    color: black;
    box-shadow: 5px 5px 20px#ADFF00;
    cursor: pointer;
}

.button-2:active{
    opacity: .10
}

@media screen and (max-width:900px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    header{
        display: none;
    }

    p{
        display: none;
    }

    .secthion{
        display:block;
        position: relative;
        align-items: center;

    }

    img{
        
        width: 354px;
        height: 317px;
        margin-top: 150px;
        margin-left: 5%;
    }

    h1{
        font-family: Montserrat;
        font-weight: 900;
        font-size: 50px;
        line-height: 100%;
        margin-bottom: auto;
    }

    h3{
        font-weight: 500;
        font-size: 30px;
        line-height: 100%;
        width: 232px;
        height: 37px;
        margin-top: -50px;
    }

    .button-2{
        width: 239px;
        height: 64px;
        margin-top: -10px;
    }

    .div-2{
        position: relative;
        margin-top: 60px;
        margin-left: 10vh;
    }


}


